# ---- Database ----
DB_USER=
DB_PASSWORD=
DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
# ---- Auth / JWT ----
JWT_KEY=

# --- LLM ---
OPENAI_API_KEY=
UPSTASH_VECTOR_REST_URL=
UPSTASH_VECTOR_REST_TOKEN=

#create on your local repo under the server folder: .env.dev and .env.prod . fill them out with the values above. 