jwt-auth @ git+https://github.com/agabrielcorujo/jwt-auth.git@main
boto3
langchain
langchain-community
langchain-core
langchain-openai
openai
upstash-vector
tiktoken
fastapi
uvicorn[standard]
alembic
SQLAlchemy
psycopg2-binary
